.myWork {
  text-align: center;
  width: 100%;
  /* height: 100%; not sure if needed */
}
h1 {
  margin-top: 1rem;
  letter-spacing: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: inherit;
  text-align: center;
}
.myWork h2 {
  width: 90%;
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgoldenrodyellow;
}
.projects-display{
  width: 90%;
  margin: auto auto 4rem auto;
}
.project-title{
  margin-left: 2rem;
  font-size: 1.65rem;
}
.projects {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-auto-rows: auto;
  gap: 4rem;
  padding-bottom: 2rem;
}
.professional-experience {
  width: 100%;
  /* height: 100%; not sure if needed */
}
/* .css-1fe7e6p-MuiTimelineSeparator-root,
.css-18y2uza-MuiTypography-root-MuiTimelineContent-root {
  text-align: left;
}
.css-55vwbm-MuiTimeline-root {
  width: 80%;
  margin: auto;
}
.css-1ms7hib-MuiTimelineItem-root {
  width: 100%;
}
.css-1ms7hib-MuiTimelineItem-root p,
.css-1ms7hib-MuiTimelineItem-root b,
.css-1ms7hib-MuiTimelineItem-root h4,
.css-1ms7hib-MuiTimelineItem-root h3 {
  background-color: transparent;
  color: lightgoldenrodyellow;
} */
.experience-list {
  width: 96%;
  margin: auto;
}
.experience-list li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto 1rem auto;
  text-align: left;
  width: 80%;
  height: 100%;
}
.timeline-div {
  width: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  height: 100%;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--ternary-color);
}
.line-exp {
  background-color: var(--ternary-color);
  width: 4px;
  height: 180px;
  border-radius: 2px;
}
.experience-card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0.2rem 0.2rem 0.8rem grey;
  background-color: #141414;
  padding: 1rem;
}
.card-header h3 {
  color: var(--quadnary-color);
}
.role-desc {
  color: var(--ternary-color);
}
.job-desc {
  margin-top: 0.5rem;
}
.experience-card p,
.experience-card h3,
.experience-card h4,
.experience-card b {
  background-color: transparent;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  background-color: transparent;
  color: var(--quadnary-color);
}
.exp-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.card {
  border: 3px solid black;
  border-radius: 8px;
  margin: auto;
  transition: 0.2s ease-in-out;
  background-color: var(--secondary-color);
  max-width: 20rem;
  padding-bottom: 1rem;
}
.card:hover {
  box-shadow: 0 0 0.6rem var(--quadnary-color);
}
.card img {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
}
.card p {
  padding: 0 1rem 0.5rem 1rem;
  text-wrap: wrap;
  text-align: left;
  border-radius: 6px;
}
.card p h3 {
  color: var(--ternary-color);
}
.demo-card {
  padding-bottom: 0.5rem;
}
h4 {
  margin-top: 0.5rem;
}
.try-it {
  text-decoration: none;
  padding: 0.4rem 0.6rem;
  background-color: green;
  color: aliceblue;
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 1rem;
}
.try-it:hover,
.github-link:hover {
  text-decoration: underline;
  color: white;
}
.github-link {
  text-decoration: none;
  background-color: black;
  color: aliceblue;
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 6px;
}
@media only screen and (max-width: 860px) {
  .experience-list li {
    width: 96%;
  }
  .projects-display{
  width: 96%;
  margin: auto auto 4rem auto;
}
.project-title{
  margin: 0 0 1rem 0;
  text-align: center;
  font-size: 1.25rem;
}
}
