* {
  width: 100%;
}
.nav-elements {
  transition: 0.2s ease-in-out;
  text-wrap: nowrap;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem 1rem;
  align-items: center;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  background-color: var(--primary-color);
  z-index: 890;
  box-shadow: 0 0px 6px grey;
}
.navbar p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  user-select: none;
}
.profile-image-navbar {
  width: 3rem;
  aspect-ratio: 1 /1;
  border-radius: 50%;
}

@media only screen and (min-width: 900px) {
  .navbar {
    overflow-y: hidden;
    height: 4rem;
  }
  .navbar-nav {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    height: fit-content;
  }
  .nav-elements {
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    transition: 300ms ease-in-out;
    font-size: 18px;
    color: var(--ternary-color);
  }
  .mobile-menu {
    display: none;
  }
  .menu {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .navbar {
    padding: 1rem;
    overflow-x: hidden;
    height: 4rem;
  }
  .navbar p {
    display: flex;
    flex-direction: row-reverse;
  }
  .navbar h2 {
    font-size: 26px;
  }
  .menu {
    /* display: inline-block; */
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border: 2px solid var(--ternary-color);
    border-radius: 4px;
    background-color: transparent;
    color: var(--quadnary-color);
  }
  .btn-close,
  .btn-open {
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    background-color: rgba(22, 22, 22, 0.9) !important;
    transition: 0.6s;
    flex-direction: column;
    transform: translateX(-105vh);
    z-index: 999;
    padding: 0.5rem 2rem 0.5rem 2rem;
    align-items: start;
  }
  .responsiveNav {
    transform: none;
  }
  .nav-elements {
    background-color: transparent !important;
    color: var(--ternary-color);
    text-decoration: none;
    font-size: 28px;
    box-shadow: none !important;
    width: fit-content;
  }
  .nav-elements:hover {
    border-radius: 6px;
    background-color: rgb(56, 56, 56);
  }
}