.skill {
  width: 80%;
  padding-bottom: 1rem;
  text-align: center;
  margin: auto;
}
.skill h1 {
  margin-top: 1rem;
  letter-spacing: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
  background-color: inherit;
}
.react-tabs__tab {
  margin: 0 1px !important;
  background-color: var(--secondary-color) !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.react-tabs__tab-list {
  text-decoration: none !important;
  border: none !important;
  margin: 0 auto 0 0.5rem !important;
  font-weight: 600 !important;
}
.react-tabs__tab-panel {
  padding: 1rem;
  width: 100% !important;
  margin-top: 0;
}
.react-tabs__tab-panel--selected {
  border: 2px solid var(--ternary-color) !important;
  border-radius: 8px;
}
.react-tabs__tab--selected {
  background-color: var(--ternary-color) !important;
  border: none;
  color: black !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.skill-container {
  margin: 2rem auto 0rem auto;
  width: 100%;
  text-align: left;
  padding-bottom: 2rem;
}
.skills {
  padding-top: 0.5rem;
  border: 2px solid lightgoldenrodyellow;
  border-radius: 0.5rem;
  background-color: black;
  box-shadow: 0 0 0.6rem grey;
}
.panel-title {
  color: var(--ternary-color);
}
.skills h2 {
  background-color: transparent;
}
.skill-card {
  margin: 0.5rem auto;
  line-height: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.skill-desc {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.4rem;
  border: none;
  align-items: center;
}
.skill-desc h4 {
  width: 10%;
  text-align: right;
  margin-left: 0;
}

.skill-card h4 {
  color: var(--quadnary-color);
  height: fit-content;
  font-weight: 600;
}
.skill-card p {
  color: black;
}
.w3-light-grey {
  height: fit-content;
  padding: 0;
  margin: 0;
  background-color: black !important;
}
.w3-container {
  background-color: var(--quadnary-color) !important;
  color: black !important;
  font-weight: 500;
}

@media only screen and (max-width: 790px) {
  .skill {
    width: 96%;
    margin: 0 auto 3rem auto;
    padding: 0 0.2rem;
  }
  .skill-container {
    width: 100%;
    margin: 1rem auto;
    padding: 0;
  }
  .skills {
    margin: auto;
  }
  .webdev-skills {
    margin-top: 1rem;
  }
  .react-tabs__tab {
    padding: 0.5rem !important;
    margin: 0 1px !important;
    font-size: 12px !important;
  }
  .react-tabs__tab-list {
    width: 100% !important;
    margin-left: 0.5rem !important;
  }
  .skill-desc {
    display: block;
  }
  .w3-container {
    font-size: 12px;
    font-weight: 500;
    height: fit-content;
  }
  .skill-desc h4 {
    width: 50%;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
  }
  .w3-container {
    color: black !important;
  }
}
